#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.app-container {
  max-width: 600px;
  margin: 0 auto;
}

.upload-container {
  margin-top: 30px;
}

.file-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed #aaa;
  padding: 20px;
  cursor: pointer;
  position: relative;
}

.file-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #007bff; /* or your preferred color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  display: block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3; /* or your preferred hover color */
}

/* Add the new styles for the table */
h2 {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td {
  width: 600px; /* Set the width for the Filename column */
}

/* Add a border to the table rows */
tr {
  border-bottom: 1px solid #ddd;
}

/* Remove border from the last row */
tr:last-child {
  border-bottom: none;
}
